pipeline/pl_ingest_sales.json
{
	"name": "pl_ingest_sales",
	"properties": {
		"activities": [
			{
				"name": "Get Data",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "check_data",
						"type": "DatasetReference",
						"parameters": {
							"p_date": {
								"value": "@formatDateTime(pipeline().parameters.p_date,'dd-MM-yyy')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Data').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Ingest Sales",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Practice/Ingestion/09.sales",
								"baseParameters": {
									"p_date": {
										"value": "@formatDateTime(pipeline().parameters.p_date,'dd-MM-yyy')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_ws",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_date": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-05T04:26:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}